// Colors
$primary-color: #025939;
$black: #2a2a2a;
$white: #fff;
$gray: #848484;
$border-color:#d8dbdd;
$primary-font: 'PT Serif', serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$icon-font: 'FontAwesome';
$text-color: $white;
$text-color-dark: #000;
$btn-color: #1B5948;
$body-color: #77A0F2;